<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <footer
      class="footer section has-bg-image text-center"
      style="background-image: url('./assets/images/footer-bg.jpg')"
    >
      <div class="container">
        <div class="footer-top grid-list">
          <div class="footer-brand has-before has-after">
            <a href="/" class="logo">
              <img
                src="./assest/img/second-cup.png"
                width="160"
                height="50"
                loading="lazy"
                alt="grilli home"
              />
            </a>

            <address class="body-4">
              Second Cup Coffee And Baristas School<br />
              Highschool Chowk, Besisahar 33600, Lamjung
            </address>

            <a href="mailto:cupsecond24@gmail.com" class="body-4 contact-link"
              >cupsecond24@gmail.com</a
            >

            <a href="tel:+977 9865457731" class="body-4 contact-link"
              >Booking Request : +977 9865457731 / +977 9817174507</a
            >

            <p class="body-4">Open : 8:00 am - 8:00 pm</p>

            <div class="wrapper">
              <div class="separator"></div>
              <div class="separator"></div>
              <div class="separator"></div>
            </div>

            <div class="map-container">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6682.3434660443545!2d84.3740168!3d28.2347736!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995736fd5a73a39%3A0x6cd100b0d5303357!2sSecond%20Cup%20Coffee%20and%20Barista%20School!5e1!3m2!1sen!2snp!4v1728823187283!5m2!1sen!2snp"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>

          <ul class="footer-list">
            <li>
              <a href="#" class="label-2 footer-link hover-underline">Home</a>
            </li>

            <li>
              <a href="/menu" class="label-2 footer-link hover-underline"
                >Menus</a
              >
            </li>

            <li>
              <a href="/about" class="label-2 footer-link hover-underline"
                >About Us</a
              >
            </li>

            <li>
              <a href="/courses" class="label-2 footer-link hover-underline"
                >Courses</a
              >
            </li>

            <li>
              <a href="/contact" class="label-2 footer-link hover-underline"
                >Contact Us</a
              >
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <a
                href="https://www.facebook.com/people/Second-Cup-Coffee-And-Baristas-School/61558234887752/"
                class="label-2 footer-link hover-underline"
                >Facebook</a
              >
            </li>

            <li>
              <a
                href="https://www.instagram.com/second.cup2/"
                class="label-2 footer-link hover-underline"
                >Instagram</a
              >
            </li>

            <li>
              <a
                href="https://www.youtube.com/@halkavlogs55555"
                class="label-2 footer-link hover-underline"
                >Youtube</a
              >
            </li>

            <li>
              <a
                href="https://maps.app.goo.gl/AjnYDtSJMUTxYN68A"
                class="label-2 footer-link hover-underline"
                >Google Map</a
              >
            </li>
          </ul>
        </div>

        <div class="footer-bottom">
          <p class="copyright">
            &copy; 2023 Second Cup and Barista School. All Rights Reserved "
          </p>
        </div>
      </div>
    </footer>

    <!-- 
    - #BACK TO TOP
  -->

    <a
      href="#top"
      class="back-top-btn active"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>
  </body>
</html>
