<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Second Cup</title>
    <!-- google font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
      rel="stylesheet"
    />

    <!-- css link -->
    <link rel="stylesheet" href="./style/style.css" />

    <!-- 
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="./assest/img/second-cup.png"
      type="image/png"
    />

    <!-- section 1 bg img -->
    <link rel="preload" as="image" href="" />
    <link rel="preload" as="image" href="" />
    <link rel="preload" as="image" href="" />

    <style>
      .map-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
      }

      .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    </style>
  </head>
  <body>
    <%- include('nav') %>

    <main>
      <article>
        <!-- 
        - #HERO
      -->

        <section class="hero text-center" aria-label="home" id="home">
          <ul class="hero-slider" data-hero-slider>
            <li class="slider-item active" data-hero-slider-item>
              <div class="slider-bg">
                <img
                  src="./assest/img/kaludai1.png"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                Tradational & Hygine
              </p>

              <h1 class="display-1 hero-title slider-reveal">
                For the love of <br />
                delicious food
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Come with family & feel the joy of mouthwatering food
              </p>

              <a href="/menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">View Our Menu</span>

                <span class="text text-2" aria-hidden="true"
                  >View Our Menu</span
                >
              </a>
            </li>

            <li class="slider-item" data-hero-slider-item>
              <div class="slider-bg">
                <img
                  src="./assest/img/kha-1.png"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                delightful experience
              </p>

              <h1 class="display-1 hero-title slider-reveal">
                Flavors Inspired by <br />
                the Seasons
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Come with family & feel the joy of mouthwatering food
              </p>

              <a href="/menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">View Our Menu</span>

                <span class="text text-2" aria-hidden="true"
                  >View Our Menu</span
                >
              </a>
            </li>

            <li class="slider-item" data-hero-slider-item>
              <div class="slider-bg">
                <img
                  src="./assest/img/ kha-2.png"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                amazing & delicious
              </p>

              <h1 class="display-1 hero-title slider-reveal">
                Where every flavor <br />
                tells a story
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Come with family & feel the joy of mouthwatering food
              </p>

              <a href="/menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">View Our Menu</span>

                <span class="text text-2" aria-hidden="true"
                  >View Our Menu</span
                >
              </a>
            </li>
          </ul>

          <button
            class="slider-btn prev"
            aria-label="slide to previous"
            data-prev-btn
          >
            <ion-icon name="chevron-back"></ion-icon>
          </button>

          <button
            class="slider-btn next"
            aria-label="slide to next"
            data-next-btn
          >
            <ion-icon name="chevron-forward"></ion-icon>
          </button>
        </section>

        <!-- 
        - #SERVICE
      -->

        <section
          class="section service bg-black-10 text-center"
          aria-label="service"
        >
          <div class="container">
            <p class="section-subtitle label-2">Flavors For Royalty</p>

            <h2 class="headline-1 section-title">We Offer Top Notch</h2>

            <p class="section-text">
              At Second Cup, we’re committed to delivering a top-quality coffee
              experience. Every cup, from pour-overs to espresso, is crafted
              with care. With tasty snacks and smoothies, you’ll always find
              something to enjoy, whether you're here for a quick break or a
              productive day. Relax, get inspired, and enjoy excellence in every
              sip.
            </p>

            <ul class="grid-list">
              <li>
                <div class="service-card">
                  <a
                    href="/menu#menu-items-coffee"
                    class="has-before hover:shine"
                  >
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="./assest/img/coffee.jpg"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Breakfast"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="/menu#menu-items-coffee"> COFFEE ITEMS</a>
                    </h3>

                    <a
                      href="/menu#menu-items-coffee"
                      class="btn-text hover-underline label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a
                    href="/menu#menu-items-food"
                    class="has-before hover:shine"
                  >
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="./assest/img/momo.jpg"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Appetizers"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="/menu#menu-items-food">FOODS</a>
                    </h3>

                    <a
                      href="/menu#menu-items-food"
                      class="btn-text hover-underline label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a href="/menu#menu-items-non" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="./assest/img/ kha-2.png"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Drinks"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="/menu#menu-items-non">NON COFFE ITEMS</a>
                    </h3>

                    <a
                      href="/menu#menu-items-non"
                      class="btn-text hover-underline label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>
            </ul>

            <img
              src="./assest/img/kha-1.png"
              width="246"
              height="412"
              loading="lazy"
              alt="shape"
              class="shape shape-1 move-anim"
            />
            <img
              src="./assest/img/kha-1.png"
              width="343"
              height="345"
              loading="lazy"
              alt="shape"
              class="shape shape-2 move-anim"
            />
          </div>
        </section>

        <!-- 
        - #ABOUT
      -->

        <section
          class="section about text-center"
          aria-labelledby="about-label"
          id="about"
        >
          <div class="container">
            <div class="about-content">
              <p class="label-2 section-subtitle" id="about-label">
                Barista Classes
              </p>

              <h2 class="headline-1 section-title">
                More than 52+ have joined
              </h2>

              <p class="section-text">
                Unlock the secrets of the perfect brew and elevate your
                coffee-making skills with our comprehensive barista classes. At
                Second Cup Coffee and Barista School, we offer a range of
                courses designed for everyone from beginners to aspiring
                professionals. Our experienced instructors will guide you
                through the art and science of coffee, from understanding the
                origins of beans to mastering the intricacies of latte art.
                Whether you're looking to start a career in the coffee industry
                or simply want to impress friends with your barista skills, our
                hands-on classes provide the knowledge and experience you need
                to excel. Join us today and embark on a journey to become a true
                coffee connoisseur!
              </p>

              <div class="contact-label">Book Through Call</div>
              <a
                href="tel:+977 9865457731"
                class="body-1 contact-number hover-underline"
              >
                +977 9865457731
              </a>
            </div>

            <figure class="about-banner">
              <a href="./assest/img/std-3.jpg"
                ><img
                  src="./assest/img/std-3.jpg"
                  width="570"
                  height="570"
                  loading="lazy"
                  alt="about banner"
                  class="w-100"
                  data-parallax-item
                  data-parallax-speed="1"
              /></a>

              <div
                class="abs-img abs-img-1 has-before"
                data-parallax-item
                data-parallax-speed="1.75"
              >
                <a href="./assest/img/std-1.jpg"
                  ><img
                    src="./assest/img/std-1.jpg"
                    width="285"
                    height="285"
                    loading="lazy"
                    alt=""
                    class="w-100"
                /></a>
              </div>

              <div class="abs-img abs-img-2 has-before">
                <a href="./assest/img/std-2.jpg"
                  ><img
                    src="./assest/img/std-2.jpg"
                    width="133"
                    height="134"
                    loading="lazy"
                    alt=""
                /></a>
              </div>
              <div class="abs-img abs-img-2 has-before">
                <a href="./assest/img/std-2.jpg"
                  ><img
                    src="./assest/img/std-2.jpg"
                    width="133"
                    height="134"
                    loading="lazy"
                    alt=""
                /></a>
              </div>
            </figure>

            <a href="/about" class="btn btn-primary">
              <span class="text text-1">Read More</span>

              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>
          </div>
        </section>

        <!-- 
        - #MENU
      -->

        <section class="section menu" aria-label="menu-label" id="menu">
          <div class="container">
            <p class="section-subtitle text-center label-2">
              Special Selection
            </p>

            <h2 class="headline-1 section-title text-center">Menu</h2>

            <ul class="grid-list">
              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src="./assest/img/image copy 9.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Opu Fish"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-coffee" class="card-title"
                          >Americano/D.</a
                        >
                      </h3>

                      <span class="span title-2">Rs. 110/130</span>
                    </div>

                    <p class="card-text label-1">
                      smooth blend of rich espresso and hot water, creating a
                      bold and flavorful coffee
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src="./assest/img/image.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Greek Salad"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-coffee" class="card-title"
                          >Cappuccino</a
                        >
                      </h3>

                      <span class="span title-2">Rs. 160</span>
                    </div>

                    <p class="card-text label-1">
                      coffee made with equal parts espresso, steamed milk, and
                      velvety milk foam
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src=" ./assest/img/image copy 8.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Olivas Rellenas"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-coffee" class="card-title"
                          >Ice Latte</a
                        >
                      </h3>

                      <span class="span title-2">Rs. 180</span>
                    </div>

                    <p class="card-text label-1">
                      blend of rich espresso and chilled milk, served over ice
                      for a smooth and creamy experience.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src=" ./assest/img/image copy 14.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Olivas Rellenas"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-non" class="card-title"
                          >Smoothie</a
                        >
                      </h3>

                      <span class="span title-2">RS. 180</span>
                    </div>

                    <p class="card-text label-1">
                      healthy mix of spinach, banana, apple, and almond milk,
                      packed with vitamins and nutrients
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src="./assest/img/image copy 3.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Opu Fish"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-non" class="card-title"
                          >Blue Lagoon</a
                        >
                      </h3>

                      <span class="span title-2">Rs. 180</span>
                    </div>

                    <p class="card-text label-1">
                      blend of blue curaçao, lemonade, and a splash of soda,
                      served over ice and garnished with a slice of lemon and a
                      cherry. Perfectly balanced with a tropical twist!
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100"
                  >
                    <img
                      src="./assest/img/image copy.png"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Greek Salad"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="/menu#menu-items-food" class="card-title"
                          >C. Kemma Noodles</a
                        >
                      </h3>

                      <span class="span title-2">Rs. 150/200</span>
                    </div>

                    <p class="card-text label-1">
                      Savory stir-fried noodles combined with spiced minced
                      chicken, fresh vegetables, and aromatic herbs
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <a href="/menu" class="btn btn-primary">
              <span class="text text-1">View All Menu</span>

              <span class="text text-2" aria-hidden="true">View All Menu</span>
            </a>
          </div>
        </section>
      </article>
    </main>

    <%- include('footer') %>

    <script src="./style/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
