<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./style/login.css" />
  </head>
  <body>
    <%- include('nav') %>
    <div class="login-form">
      <div class="text">ADMIN</div>
      <form>
        <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="email" placeholder="Email" />
        </div>
        <div class="field">
          <div class="fas fa-lock"></div>
          <input type="password" placeholder="Password" />
        </div>
        <button>LOGIN</button>
      </form>
    </div>
  </body>
</html>
